//base colors
$purple: #b47afd;
$black: #1b1b1b;
$white: #ffffff;
$red: #ff5e59;

//50 shades of gray
$gray: #35393e;
$gray-medium-dark: #34363b;
$gray-dark: #2f3136;
$gray-darkest: #252628;
$gray-light: #7a7a7a;
$gray-very-light: #b3b3b3;
$gray-lightest: #e0e0e0;
$gray-almost-white: #f2f2f2;

//additional colors
$green: #43b581;
$pink: #ff88de;
$orange: #ff802b;
$blue: #7289da;
$blue-dark: #496d81;
$yellow: #f7b629;
$brown: #7b5804;

//misc colors
$transparent-background: rgba($black, 0.6);

//text
$text-color: $white;
$text-color-dark: $gray-darkest;
$font-family: 'Arial';

//breakpoints
$extra-small: 400px;
$medium-small: 550px;
$small: 700px;
$medium: 940px;